@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1a1a1a;
  color: #ccc;
  font-family: "Orbitron", sans-serif;
}
.container-clock{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock{
  font-size: 42px;
  border: 1px solid #1f1f1f;
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 42px;
}