.body-dark{
  background-color: rgb(21, 21, 21);
  color: #CCC;
  transition: 0.5s;
}
.link-dark{
  color: #CCC;
  transition: 0.5s;
}
.form-dark{
  -webkit-box-shadow: 2px 2px 5px 1px rgba(54,214,169,1);
  -moz-box-shadow: 2px 2px 5px 1px rgba(54,214,169,1);
  box-shadow: 2px 2px 5px 1px rgba(54,214,169,1);
  transition: 0.5s;
}